<html>
    <head>
        <title>Comics</title>
    </head>
    <body>
        <a href="https://www.comixology.eu/The-Sandman/comics-series/349">Y The Last Man(online)</a>
        <a href="http://www.omgbeaupeep.com/comics/Y_The_Last_Man/">online</a><a>
        <a href="https://www.comixology.eu/Y-The-Last-Man/comics-series/475?ref=Y29taWMvdmlldy9kZXNrdG9wL2JyZWFkY3J1bWJz">comixology</a> <br>
        <a href="https://www.comixology.eu/The-Sandman/comics-series/349">The Sandman</a> 
        <a href="https://www.amazon.es/s?_encoding=UTF8&field-keywords=The+Sandman+Vol.+1%3A+Preludes+%26+Nocturnes+%28New+Edition%29+%28The+Sandman+series%29&node=818936031">amazon</a>
        <a href="http://www.omgbeaupeep.com/comics/The_Sandman/">online </a>  <br>
        <a href="http://www.omgbeaupeep.com/comics/The_Walking_Dead/001/"> The Walking Dead(online) </a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
    </body>
</html>
