<!DOCTYPE html>
<html>
  <head>
    <title>Stocks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
      h2 {color: red;}
    </style>
  </head>
  <body>
    <div class="container">
      {% for stock in stocks%}
        <p> <a href="https://stocktwits.com/symbol/{{stock[0]}}">{{stock[0]}}</a>({{stock[1]}}):  <strong>{{stock[4]}}</strong> Nik: {{stock[2]}} MAX: {{stock[5]}} Min: {{stock[6]}}, {{stock[9]}} </p> 
      {% endfor %}
      <h1>profit: {{profit}}<h1>
        <h4><a href="http://www.crossingwallstreet.com" target="_blank"/>CWS</a></h4>
        <h4><a href="http://thereformedbroker.com" target="_blank">ReformedBroker</a></h4>
        <h4><a href="http://investorfieldguide.com/" target="_blank">Patrick</a></h4>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
